In [112]:
import pandas as pd
import numpy as np
import pickle
import gzip
from datetime import datetime
%matplotlib inline
import matplotlib.pyplot as plt
from load_file import load_dataframes
import seaborn as sns
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [114]:
def format_attribute_ratings(ratings):
   
    '''
    formatted  all attributes of ratings dataframe
    '''
    ratings['user_id'] = ratings['user_id'].astype(str)
    ratings['rating'] = ratings['rating'].astype(float)
    ratings['abv'] = ratings['abv'].astype(float)
    ratings['appearance'] = ratings['appearance'].astype(float)
    ratings['aroma'] = ratings['aroma'].astype(float)
    ratings['palate'] = ratings['palate'].astype(float)
    ratings['taste'] = ratings['taste'].astype(float)
    ratings['overall'] = ratings['overall'].astype(float)
    ratings['date'] = ratings['date'].astype(int)
    ratings['date'] = ratings['date'].apply(lambda data_seconds : datetime.fromtimestamp(data_seconds).date())
    
    return ratings
    
def format_attribute_beers(beers):
   
    '''
    formatted  all attributes of beers dataframe
    '''

    beers['nbr_ratings'] = beers['nbr_ratings'].astype(int)
    beers['overall_score'] = beers['overall_score'].astype(float)
    beers['style_score'] = beers['style_score'].astype(float)
    beers['avg'] = beers['avg'].astype(float)
    beers['abv'] = beers['abv'].astype(float)
    beers['avg_computed']  = beers['avg_computed'].astype(float)
    beers['zscore'] = beers['zscore'].astype(float)
    beers['nbr_matched_valid_ratings'] = beers['nbr_matched_valid_ratings'].astype(int)
    beers['avg_matched_valid_ratings'] = beers['avg_matched_valid_ratings'].astype(float)
    
    return beers

    
def format_attribute_breweries(brewery):
   
    '''
    formatted  attributes of brewerie dataframe
    '''
    brewery['nbr_beers']=brewery['nbr_beers'].astype(int)
   
    return brewery

def format_attribute_tagged(tagged):
    '''
    formatted  attributes of tagged
    '''
    tagged['user_id'] = tagged['user_id'].astype(str)
    tagged['date'] = tagged['date'].astype(int)
    tagged['date'] = tagged['date'].apply(lambda data_seconds : datetime.fromtimestamp(data_seconds).date())

    return tagged

In [116]:
# load dataframes

In [118]:
#path to the folder data, containing RateBeer and BeerAdvocate folder
FOLDER_PATH = "/Users/manuelcurnis/Desktop/EPFL first semester/Applied Data Analysis/data"

In [120]:
beer_RB, breweries_RB, users_RB, ratings_RB, tagged_RB, beer_BA, breweries_BA, users_BA, ratings_BA, tagged_BA = load_dataframes(FOLDER_PATH)

In [11]:
# rating database

In [124]:
ratings_RB.head(5)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text
0,33 Export (Gabon),410549,Sobraga,3198,Pale Lager,5.0,1461664800,Manslow,175852,2,4,2,4,8,2.0,"Puszka 0,33l dzięki Christoph . Kolor jasnozło..."
1,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,1487329200,MAGICuenca91,442761,2,3,2,4,8,1.9,Cerveza pale lager gabonesa. MÃ¡s floja que la...
2,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,1466762400,Sibarh,288889,3,3,2,3,5,1.6,"Kolor- złoty, klarowny. Piana - drobna, średni..."
3,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,1451646000,fombe89,250510,4,3,1,2,5,1.5,"Botella, de GabÃ³n regalo familiar.31/01/2015C..."
4,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,1445594400,kevnic2008,122778,2,4,2,4,7,1.9,Many thanks for this beer to Erzengel. Pours l...

In [126]:
ratings_RB.dtypes

beer_name        object
beer_id           int64
brewery_name     object
brewery_id        int64
style            object
abv             float64
date              int64
user_name        object
user_id           int64
appearance        int64
aroma             int64
palate            int64
taste             int64
overall           int64
rating          float64
text             object
dtype: object

In [128]:
#format attributes
ratings_RB = format_attribute_ratings(ratings_RB)
ratings_BA = format_attribute_ratings(ratings_BA)

In [132]:
# breweries database

In [134]:
breweries_RB.head(5)

      id          location                       name  nbr_beers
0   3198             Gabon                    Sobraga          3
1  13538  Northern Ireland           Ards Brewing Co.         13
2  22304  Northern Ireland  Barrahooley Craft Brewery          4
3  22818  Northern Ireland                   Boundary         66
4  24297  Northern Ireland            Brewbot Belfast          3

In [136]:
#format attributes
breweries_RB = format_attribute_breweries(breweries_RB)

In [138]:
breweries_BA = format_attribute_breweries(breweries_BA)

In [140]:
tagged_BA=format_attribute_tagged(tagged_BA)
tagged_RB=format_attribute_tagged(tagged_RB)

In [141]:
#beers database

In [142]:
beer_RB.head(5)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,overall_score,style_score,avg,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
0,410549,33 Export (Gabon),3198,Sobraga,Pale Lager,1,NaN,NaN,2.72,5.0,2.000000,NaN,0,NaN
1,105273,Castel Beer (Gabon),3198,Sobraga,Pale Lager,10,5.0,58.0,2.18,5.2,1.910000,NaN,0,NaN
2,19445,Régab,3198,Sobraga,Pale Lager,27,1.0,22.0,1.83,4.5,1.811111,NaN,0,NaN
3,155699,Ards Bally Black Stout,13538,Ards Brewing Co.,Stout,6,NaN,NaN,3.18,4.6,3.866667,0.823699,6,3.866667
4,239097,Ards Belfast 366,13538,Ards Brewing Co.,Golden Ale/Blond Ale,1,NaN,NaN,2.79,4.2,3.000000,NaN,0,NaN

In [143]:
beer_RB.dtypes

beer_id                        int64
beer_name                     object
brewery_id                     int64
brewery_name                  object
style                         object
nbr_ratings                    int64
overall_score                float64
style_score                  float64
avg                          float64
abv                          float64
avg_computed                 float64
zscore                       float64
nbr_matched_valid_ratings      int64
avg_matched_valid_ratings    float64
dtype: object

In [144]:
#format attriutes
beer_RB = format_attribute_beers(beer_RB)

let's see if the beer_id is unique in beers.csv

After loading the databases and formatting the attributes, understand what’s in the datasets and do some analysis

In [152]:
#check that the beer index in the dataframe is unique 
beer_RB['beer_id'].is_unique

True

In [154]:
beer_RB['beer_name'].is_unique

False

In [156]:
# that is because beer_id refers to a specif beer in a specific brewerie

In [158]:
# number of beers in the database
len(beer_RB)

442081

let's see if there are enough beer with more than 3 ratings

In [161]:
len(beer_RB[beer_RB['nbr_ratings']>3])

191184

more 190k beers with more than 3 ratings, therefore, given a user's rating on a beer, it makes sense to calculate the average ratiing on that beer

In [164]:
len(beer_RB[beer_RB['nbr_ratings']==0])

45391

let's delete beers with few ratings

In [167]:
beer_RB = beer_RB[beer_RB['nbr_ratings']>3]
len(beer_RB)

191184

let's now focus on the ratings

In [171]:
len(ratings_RB)

7122074

In [173]:
len(ratings_RB['user_id'].unique())

70121

let's now delete from ratings the reviews for beer_id with less than 3 revies

In [176]:
ratings_RB = ratings_RB[ratings_RB['beer_id'].isin(beer_RB['beer_id'].values)]

In [177]:
len(ratings_RB)

6785276

let's check values for variables we are interested in like, appearance,	aroma, palate,	taste	,overall,rating,	text

In [179]:
ratings_RB['text'].isnull().sum()

441

In [183]:
#add a column review, True if there is a valid text (i.e a non null and not empty review), false otherwise
ratings_RB['review']=ratings_RB['text'].apply(lambda text: pd.notna(text) and str(text).strip() != '')

In [185]:
#check if appearance, aroma, palate, taste ,overall,rating columns contain NaN values

In [187]:
print(ratings_RB['aroma'].isna().sum())
print(ratings_RB['appearance'].isna().sum())
print(ratings_RB['palate'].isna().sum())
print(ratings_RB['taste'].isna().sum())
print(ratings_RB['overall'].isna().sum())
print(ratings_RB['rating'].isna().sum())

0
0
0
0
0
0

In [189]:
ratings_RB_grouped=ratings_RB.groupby(['user_id'])['beer_name'].agg(['size'])
ratings_RB_grouped

         size
user_id
10          5
100007     73
100011     46
100012     30
100021      1
...       ...
99974       1
99986       1
99992       2
99994      10
99998     634

[68999 rows x 1 columns]

In [191]:
len(ratings_RB_grouped[ratings_RB_grouped['size']>=4])

27461

since there are a lot of users with more than 4 ratings, it's feasible to analyse results over time

since a lot of values, i beer datasets are NaN ( overall_score, style_score, avg, have often nan, missing, values) and we don't have informations about std deviation of avarage values

In [195]:
ratings_RB_grouped_beer = ratings_RB.groupby(['beer_id'])[['appearance', 'aroma', 'palate', 'taste', 'overall','rating']].agg(['mean','std'])
columns_name = ['app_mean', 'app_std', 'ar_mean', 'ar_std', 'pal_mean','pal_std', 'taste_mean', 'taste_std', 'ov_mean', 'ov_std', 'rat_mean','rat_std'] 
ratings_RB_grouped_beer.columns=columns_name
ratings_RB_grouped_beer

,app_mean,app_std,ar_mean,ar_std,pal_mean,pal_std,taste_mean,taste_std,ov_mean,ov_std,rat_mean,rat_std
beer_id,,,,,,,,,,,,
1,4.169027,0.740883,6.125590,1.526792,3.396601,0.847228,6.555241,1.418724,13.615675,2.841859,3.386213,0.602891
2,3.113661,0.730830,5.007650,1.360970,2.816393,0.707226,5.284153,1.313172,10.829508,2.757009,2.705137,0.548208
3,3.177419,0.730631,5.596774,1.379583,3.098240,0.725473,5.835777,1.360016,11.794721,2.801631,2.950293,0.567558
4,3.217799,0.706683,5.449649,1.301559,3.053864,0.701710,5.681499,1.228270,11.707260,2.561180,2.911007,0.518798
5,3.291519,0.655675,5.687279,1.254830,2.853357,0.593219,5.475265,1.287897,11.287986,2.524940,2.859541,0.505796
...,...,...,...,...,...,...,...,...,...,...,...,...
536380,2.833333,0.408248,6.333333,0.516398,2.833333,0.408248,5.833333,0.983192,12.000000,1.549193,2.983333,0.285774
536383,3.000000,0.000000,6.600000,0.547723,2.800000,0.447214,6.400000,1.140175,12.600000,2.302173,3.140000,0.409878
536409,2.750000,0.500000,6.500000,0.577350,3.000000,0.000000,6.250000,0.500000,13.250000,0.500000,3.175000,0.125831
536426,3.250000,0.500000,8.000000,0.000000,3.000000,0.000000,7.250000,0.500000,14.500000,0.577350,3.600000,0.141421
536456,2.800000,0.447214,6.600000,0.894427,2.800000,0.836660,5.800000,1.095445,12.200000,2.167948,3.020000,0.426615

In [197]:
assert len(ratings_RB_grouped_beer) == len(beer_RB)

In [199]:
len(ratings_RB_grouped_beer) == len(beer_RB)

True

In [201]:
beer_RB_extract = beer_RB[['beer_id', 'beer_name','brewery_id','brewery_name','style',  'nbr_ratings']]
beer_RB_merged =pd.merge(beer_RB_extract, ratings_RB_grouped_beer, left_on='beer_id', right_index=True)

In [203]:
beer_RB_merged

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,app_mean,app_std,ar_mean,ar_std,pal_mean,pal_std,taste_mean,taste_std,ov_mean,ov_std,rat_mean,rat_std
1,105273,Castel Beer (Gabon),3198,Sobraga,Pale Lager,10,2.800000,0.918937,3.700000,0.823273,2.200000,0.788811,3.500000,0.849837,6.900000,1.370320,1.910000,0.314289
2,19445,Régab,3198,Sobraga,Pale Lager,27,2.333333,0.733799,3.370370,1.713030,2.222222,0.800641,3.592593,1.759791,6.592593,3.319630,1.811111,0.726601
3,155699,Ards Bally Black Stout,13538,Ards Brewing Co.,Stout,6,4.166667,0.752773,7.333333,0.516398,3.833333,1.169045,7.000000,1.095445,16.333333,1.751190,3.866667,0.196638
9,160664,Ards Pig Island Pale Ale,13538,Ards Brewing Co.,Bitter,4,4.250000,0.500000,7.250000,0.500000,3.750000,0.500000,6.500000,1.914854,14.750000,2.217356,3.650000,0.519615
25,437440,Boundary / Mad Hatter Milk Agitator,22818,Boundary,Berliner Weisse,10,3.700000,0.483046,6.600000,1.074968,3.600000,0.516398,6.700000,0.674949,14.100000,0.737865,3.470000,0.194651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442072,153089,Stela Double Malt Strong Beer,1107,Stefani & Co,Imperial Pils/Strong Pale Lager,7,2.857143,0.377964,4.857143,1.214986,2.571429,0.534522,4.857143,1.069045,9.428571,2.507133,2.457143,0.506153
442074,220722,Stela Pils,1107,Stefani & Co,Pale Lager,18,2.388889,0.501631,3.222222,0.942809,2.000000,0.594089,3.444444,0.783823,6.222222,1.926764,1.727778,0.386242
442075,287791,Stela Pils 4%,1107,Stefani & Co,Pilsener,17,2.352941,0.606339,3.294118,1.104802,2.058824,0.555719,3.000000,1.414214,6.352941,2.667892,1.705882,0.563993
442076,189684,Stela Selekt,1107,Stefani & Co,Pilsener,5,2.600000,0.547723,3.000000,1.000000,1.400000,0.547723,2.800000,0.836660,5.200000,1.643168,1.500000,0.374166
442079,220897,Svejk Blonde,17155,Svejk Beer Garden,Pale Lager,4,2.500000,0.577350,5.250000,0.500000,2.000000,0.000000,5.250000,0.500000,10.000000,0.000000,2.500000,0.081650

let's now add a tag to the ratings dataframe in order to get the language of the text

In [205]:
ratings_RB = pd.merge(ratings_RB, tagged_RB, left_on=['beer_id', 'date', 'user_id'],right_on=['beer_id', 'date', 'user_id'], how='inner')

In [207]:
ratings_RB.dtypes

beer_name        object
beer_id           int64
brewery_name     object
brewery_id        int64
style            object
abv             float64
date             object
user_name        object
user_id          object
appearance      float64
aroma           float64
palate          float64
taste           float64
overall         float64
rating          float64
text             object
review             bool
lang_tag         object
dtype: object

In [209]:
ratings_RB.head(5)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,review,lang_tag
0,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,2017-02-17,MAGICuenca91,442761,2.0,3.0,2.0,4.0,8.0,1.9,Cerveza pale lager gabonesa. MÃ¡s floja que la...,True,es
1,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,2016-06-24,Sibarh,288889,3.0,3.0,2.0,3.0,5.0,1.6,"Kolor- złoty, klarowny. Piana - drobna, średni...",True,pl
2,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,2016-01-01,fombe89,250510,4.0,3.0,1.0,2.0,5.0,1.5,"Botella, de GabÃ³n regalo familiar.31/01/2015C...",True,es
3,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,2015-10-23,kevnic2008,122778,2.0,4.0,2.0,4.0,7.0,1.9,Many thanks for this beer to Erzengel. Pours l...,True,en
4,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,2015-10-12,Beerhunter111,227834,2.0,3.0,2.0,3.0,9.0,1.9,Many thanks to Erzengel for sharing! Pours cle...,True,en

In [211]:
ratings_BA

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,review
0,Régab,142544,Societe des Brasseries du Gabon (SOBRAGA),37262,Euro Pale Lager,4.5,2015-08-20,nmann08,nmann08.184925,3.25,2.75,3.25,2.75,3.0,2.88,"From a bottle, pours a piss yellow color with ...",True
1,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,2009-02-20,StJamesGate,stjamesgate.163714,3.00,3.50,3.50,4.00,3.5,3.67,Pours pale copper with a thin head that quickl...,True
2,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,2006-03-13,mdagnew,mdagnew.19527,4.00,3.50,3.50,4.00,3.5,3.73,"500ml Bottle bought from The Vintage, Antrim.....",True
3,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,2004-12-01,helloloser12345,helloloser12345.10867,4.00,3.50,4.00,4.00,4.5,3.98,Serving: 500ml brown bottlePour: Good head wit...,True
4,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,2004-08-30,cypressbob,cypressbob.3708,4.00,4.00,4.00,4.00,4.0,4.00,"500ml bottlePours with a light, slightly hazy ...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8393027,Kölsch Ale,19139,Summit Station Restaurant & Brewery,885,Kölsch,5.0,2006-02-27,jaluria,jaluria.31362,3.50,3.50,3.50,4.00,4.0,3.80,I'll start off reviewing this beer with the fo...,True
8393028,Kölsch Ale,19139,Summit Station Restaurant & Brewery,885,Kölsch,5.0,2006-02-19,Dithyramb,dithyramb.4413,3.00,3.00,3.00,2.50,3.0,2.80,Served on draft at the pub. Poured a clear yel...,True
8393029,Kölsch Ale,19139,Summit Station Restaurant & Brewery,885,Kölsch,5.0,2004-08-10,ManekiNeko,manekineko.2654,3.00,1.50,1.00,1.50,1.5,1.54,Served on tap at the brewpub in a pint glass.A...,True
8393030,Nut Brown Ale,19140,Summit Station Restaurant & Brewery,885,English Brown Ale,5.3,2012-07-08,Redsox1539,redsox1539.683632,NaN,NaN,NaN,NaN,NaN,3.50,NaN,False
8393031,Nut Brown Ale,19140,Summit Station Restaurant & Brewery,885,English Brown Ale,5.3,2006-02-19,Dithyramb,dithyramb.4413,3.00,3.00,3.00,3.00,3.0,3.00,Dark brown brew served on tap at the brewpub. ...,True

even if for now we are focusing on ratebeer dataframe, let's to the same for beeradvocate ratings dataframe

In [213]:
ratings_BA['review']=ratings_BA['text'].apply(lambda text: pd.notna(text) and str(text).strip() != '')

In [219]:
ratings_BA.head(3)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,review
0,Régab,142544,Societe des Brasseries du Gabon (SOBRAGA),37262,Euro Pale Lager,4.5,2015-08-20,nmann08,nmann08.184925,3.25,2.75,3.25,2.75,3.0,2.88,"From a bottle, pours a piss yellow color with ...",True
1,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,2009-02-20,StJamesGate,stjamesgate.163714,3.00,3.50,3.50,4.00,3.5,3.67,Pours pale copper with a thin head that quickl...,True
2,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,2006-03-13,mdagnew,mdagnew.19527,4.00,3.50,3.50,4.00,3.5,3.73,"500ml Bottle bought from The Vintage, Antrim.....",True

In [103]:
ratings_BA = pd.merge(ratings_BA, tagged_BA, left_on=['beer_id', 'date', 'user_id'],right_on=['beer_id', 'date', 'user_id'], how='inner')

In [105]:
ratings_BA.head(5)

Empty DataFrame
Columns: [beer_name, beer_id, brewery_name, brewery_id, style, abv, date, user_name, user_id, appearance, aroma, palate, taste, overall, rating, text, review, lang_tag]
Index: []

In [107]:
ratings_BA.head(5)

Empty DataFrame
Columns: [beer_name, beer_id, brewery_name, brewery_id, style, abv, date, user_name, user_id, appearance, aroma, palate, taste, overall, rating, text, review, lang_tag]
Index: []